.home_container {
  display: flex;
  position: relative;
  height: 90vh;
  width: 100%;
  color: #3d535f;
  justify-content: center;
  margin-top: 180px;
}

.home_left {
  padding: 8% 5% 3%;
}

.home_left h3 {
  display: block;
  position: relative;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 4px;
}

.home_left h3::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 65px;
  bottom: 5px;
  background-color: #3d535f;
}

.home_left h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #3d535f;
  padding-top: 35px;
  text-align: left;
}

.author {
  color: #3d535f;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

.home_left p {
  color: #8a90a2;
  line-height: 34px;
  font-size: 19px;
  margin: 30px 0 50px;
  font-weight: 500;
}

.left_btn a,
.social_contact a {
  margin: 15px 0;
}

.left_btn button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #5956e9;
  height: 65px;
  line-height: 65px;
  text-align: center;
  padding: 0 40px;
  border: none;
  border-radius: 10px;
}

.left_btn button:hover {
  color: #292930;
  background-color: #ffd109;
}

.social_contact {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social_contact span {
  color: #292930;
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 1px;
}

.social_contact span:hover {
  color: #007aff;
}

.home_right {
  display: flex;
  align-items: center;
  justify-content: left;
}

.home_right img {
  object-fit: cover;
  width: 70%;
  height: 70%;
  border-radius: 130% 75% 85% 75%;
}

.skills_wrapper {
  color: #ced4da;
  padding: 120px 0 30px;
  text-align: center;
  background-color: #292930;
}

@media only screen and (max-width: 992px) {
  .home_left {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home_right img {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .home_left h1 {
    font-size: 2rem;
  }

  .author {
    font-size: 1.5rem;
  }

  .left_btn button,
  .social_contact span {
    font-size: 14px;
  }
}
